{{- $gitName := promptString "git_name" "Git user name" (.chezmoi.username | default "Your Name") -}}
{{- $gitEmail := promptString "git_email" "Git email address" "" -}}

{{- $secretsBackend := promptString "secrets_backend" "Choose secrets backend:\n  1) env - Environment variables (simple)\n  2) op - 1Password (recommended)\n  3) bw - Bitwarden\n  4) file - File-based\nEnter choice (1-4)" "1" -}}
{{- $secretsMap := dict "1" "env" "2" "op" "3" "bw" "4" "file" -}}
{{- $selectedSecretsBackend := get $secretsMap $secretsBackend | default "env" -}}

[data]
    profile = "power-user"
    
    [data.user]
        name = "{{ $gitName }}"
        email = "{{ $gitEmail }}"
    
    [data.secrets]
        backend = "{{ $selectedSecretsBackend }}"
        {{- if eq $selectedSecretsBackend "op" }}
        op_vault = "{{ promptString "op_vault" "1Password vault name" "Personal" }}"
        {{- else if eq $selectedSecretsBackend "bw" }}
        bw_server = "{{ promptString "bw_server" "Bitwarden server URL (press enter for default)" "https://vault.bitwarden.com" }}"
        {{- end }}
    
    [data.features]
        modern_cli = true
        developer_tools = true
        advanced_git = true
        powerline_prompt = true
        github_integration = true
        auto_updates = true
    
    [data.tools]
        essential = ["git", "tmux", "fzf", "ripgrep", "bat", "zoxide", "exa", "entr", "gh", "delta", "fd"]
        optional = ["lazygit", "gitui", "bottom", "dust"]
    
    [data.paths]
        workspace = "{{ if eq .chezmoi.os "windows" }}C:\\Workspace{{ else }}~/workspace{{ end }}"
        dotfiles = "{{ .chezmoi.sourceDir }}"
        local_bin = "{{ if eq .chezmoi.os "windows" }}{{ .chezmoi.homeDir }}\\.local\\bin{{ else }}{{ .chezmoi.homeDir }}/.local/bin{{ end }}"
    
    [data.editor]
        default = "{{ env "EDITOR" | default "vim" }}"
        gui = "{{ if eq .chezmoi.os "windows" }}code{{ else if eq .chezmoi.os "darwin" }}code{{ else }}code{{ end }}"