[data]
    profile = "power-user"
    
    [data.user]
        name = "{{ .chezmoi.username | default "Your Name" }}"
        email = ""
    
    [data.secrets]
        backend = "env"
    
    [data.features]
        modern_cli = true
        developer_tools = true
        advanced_git = true
        powerline_prompt = true
        github_integration = true
        auto_updates = true
    
    [data.tools]
        essential = ["git", "tmux", "fzf", "ripgrep", "bat", "zoxide", "exa", "entr", "gh", "delta", "fd"]
        optional = ["lazygit", "gitui", "bottom", "dust"]
    
    [data.paths]
        workspace = "{{ if eq .chezmoi.os "windows" }}C:\\Workspace{{ else }}~/workspace{{ end }}"
        dotfiles = "{{ .chezmoi.sourceDir }}"
        local_bin = "{{ if eq .chezmoi.os "windows" }}{{ .chezmoi.homeDir }}\\.local\\bin{{ else }}{{ .chezmoi.homeDir }}/.local/bin{{ end }}"
    
    [data.editor]
        default = "{{ env "EDITOR" | default "vim" }}"
        gui = "{{ if eq .chezmoi.os "windows" }}code{{ else if eq .chezmoi.os "darwin" }}code{{ else }}code{{ end }}"